[Unit]

Description = pdfreader uwsgi server
After = network.target

[Service]
KillSignal = SIGQUIT


WorkingDirectory=/home/ec2-user
User=root

ExcecStartPre = conda activate pdf
ExecStart = /home/ec2-user/venv/bin/uwsgi --ini /home/ec2-user/testCICD_stage2//uwsgi.ini
Restart = always
Type = notify
NotifyAccess = all
StandardError = syslog

[Install]
WantedBy = multi-user.target

